<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <!---google fonts -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
  <!---google fonts -->
  <meta charset="utf-8">
</head>

<body>
  <div class="container">
    <center>
      <br>
      <br>
      <br>
      <h1>Reacher</h1><h3><i>... rhymes with teacher</i></h3>   <form class="search" id="search" action="/schools" accept-charset="UTF-8" method="post">
      <p>
       <input value="" type="submit" id="find"></input>
       <br>
       (click image to find schools)
       <input id="lat" name="latitude" type="hidden"></input>
       <input id="lng" name="longitude" type="hidden"></input>

     </p>
   </form>
 </center>
</div>
<div role="main" class="ui-content">
</div>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyBaKgR9OOeCwqez-NGNGNtIA7d4JjODHfg&libraries=geometry"></script>
<script src ="/bundle.js"> </script>
</body>
</html>
