<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  <link rel="stylesheet" type="text/css" href="../styles.css">
  <!-- .leaflet -->
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <!-- .Google -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

  <style>
  #map {
    height: 500px;
    width: 500px;
  }
  </style>
</head>
<body>
 <div class="container">
  <h1>schools hbs</h1>
  <form class="search" id="search" action="/schools" accept-charset="UTF-8" method="post">
    <p>
      <button id="mySearch">Find Schools near me </button>
      <br>
      <input placeholder="enter school name" type="text" name="name" id="input1" />
      <input value="search" type="submit" id="find"></input>
    </p>
  </form>
</div>

<div id="map" class="map"></div>

<script type='text/javascript'>

// Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 16
        });
        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaKgR9OOeCwqez-NGNGNtIA7d4JjODHfg&callback=initMap">


//   var map = L.map('map');

//   L.tileLayer('https://api.tiles.mapbox.com/v4/wishmouse.pjn18je0/{z}/{x}/{y}.png?access_token={accessToken}', {
//     accessToken: 'pk.eyJ1Ijoid2lzaG1vdXNlIiwiYSI6ImNpbW8zNDA4ejAwYXd0a2x5ZHk2b3N5M2EifQ.3cCg9wh79R6NeQkVlH-TvQ',
//     maxZoom: 18
//   }).addTo(map);

//   map.locate({setView: true, maxZoom: 17});

//   function onLocationFound(e) {
//     var radius = e.accuracy / 2;

//     L.marker(e.latlng).addTo(map);
//   }

//   map.on('locationfound', onLocationFound);

//   function onLocationError(e) {
//     alert(e.message);
//   }

//   var mapboxClient = new MapboxClient('pk.eyJ1Ijoid2lzaG1vdXNlIiwiYSI6ImNpbW8zNDA4ejAwYXd0a2x5ZHk2b3N5M2EifQ.3cCg9wh79R6NeQkVlH-TvQ');
//     mapboxClient.getDirections([
//   { latitude: -41.2930020, longitude: 174.7824280 },
//   { latitude: -41.2930030, longitude: 174.7824270}],
//   function(err, res) {
//   // res is a document with directions
// });

</script>

</body>
</html>

