#map{ height: 500px;
  width: 100%;
}

html, body {
    height: 100%;
    background-color: #a7dbd8;
}
h1{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 60px;
}

#find{
background-color: orange;
}

#school{
color: black;
border:3px solid #F38630;
border-radius: 45px;
background-color: #E0E4CC;
padding: 20px;
text-align: center;
font-size: 30px;
text-decoration: none;
}

.container a {
text-decoration: none;
}

#principal{
color: black;
font-size: 25pt;
line-height: 10px;
}

#telephone{
font-size: 30px;
line-height: 10px;
}

#email{
font-size: 20px;
line-height: 10px;

}

#address{
font-size: 20px;
line-height: 10px;
font-family: 'Pacifico', cursive;
}

#name{
font-size: 40px;
font-family: 'Quicksand', sans-serif;
}



http://www.colourlovers.com/palette/92095/Giant_Goldfish
