#map{ height: 500px;
  width: 100%;
}

html, body {
    height: 100%;
    background-color: #a7dbd8;
}
h1{
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 60px;
}

#find{
background: url(./arrow.png);
width: 250px;
height: 250px;
border-radius: 50%;
border: 0px solid;
background-size: 250px;

}

#school{
color: black;
border:3px solid #F38630;
border-radius: 45px;
background-color: #E0E4CC;
padding: 20px;
text-align: center;
font-size: 30px;
text-decoration: none;
}

.more{
  color: black;
border:2px solid #F38630;
border-radius: 45px;
background-color: #69D2E7;
padding: 5px;
float: right;
}

.container a {
text-decoration: none;
font-family: 'Quicksand', sans-serif;
}

#school{
font-weight: bold;
}

.details {
padding-top: 30px;
padding-left: 30px;
padding-bottom: 10px;
background-color: #E0E4CC;
border-radius: 45px;
border:3px solid #F38630;
}

#principal{
color: black;
font-weight: bold;
font-size: 35pt;
line-height: 20px;
margin-left: 50px;
}

#telephone{
font-size: 30px;
line-height: 15px;
font-family: 'Quicksand', sans-serif;
margin-left: 50px;
}

#email{
font-size: 20px;
line-height: 10px;
margin-left: 50px;

}

#address{
font-size: 20px;
line-height: 10px;
font-family: 'Roboto Condensed', sans-serif;
margin-left: 50px;
}

#name{
font-size: 40px;
line-height: 20px;
font-family: 'Quicksand', sans-serif;
margin-left: 50px;
}

#lat {
opacity: 0;}
 #lng{
opacity: 0;}

http://www.colourlovers.com/palette/92095/Giant_Goldfish
